<!DOCTYPE HTML>

<html>
	<head>
		<title>Alex by Hiepdaoq</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Intro -->
					<div id="intro">
						<h1>Đây là<br />
						Alex</h1>
						<p>Một website với những mô hình trí tuệ nhân tạo ứng dụng trong đời sống.</p>
						<ul class="actions">
							<li><a href="#header" class="button icon solid solo fa-arrow-down scrolly">Continue</a></li>
						</ul>
					</div>

				<!-- Header -->
					<header id="header">
						<a href="login" class="logo">Bắt Đầu</a>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul class="links">
							<li class="active"><a href="index.html">Đây là Alex</a></li>
							<li><a href="generic.html">Trang chủ</a></li>
							<li><a href="elements.html">Tham khảo</a></li>
						</ul>
						<ul class="icons">
							<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Featured Post -->
							<article class="post featured">
								<header class="major">
									<span class="date">Tháng 11, 2023</span>
									<h2><a href="#">Trí tuệ nhân tạo là<br />
									Xu hướng của thời đại này</a></h2>
									<p>Trí tuệ nhân tạo đang là xu hướng nổi bật của thời đại hiện nay, 
										mở ra những cánh cửa mới đối với sự phát triển công nghệ và cuộc sống. 
										Từ ứng dụng trong y tế đến giáo dục và doanh nghiệp, AI đóng vai trò quan trọng, 
										thúc đẩy sự tiến bộ và sáng tạo trong mọi lĩnh vực.</p>
								</header>
								<a href="#" class="image main"><img src="assets/images/pic01.jpg" alt="" /></a>
								<ul class="actions special">
									<li><a href="#" class="button large">Đọc thêm</a></li>
								</ul>
							</article>

						<!-- Posts -->
							<section class="posts">
								<article>
									<header>
										<span class="date">Tháng 11, 2023</span>
										<h2><a href="#">Sự hỗ trợ<br />
										của robot</a></h2>
									</header>
									<a href="#" class="image fit"><img src="assets/images/pic02.jpg" alt="" /></a>
									<p>Robot đang hỗ trợ con người trong sản xuất, y tế, và cuộc sống hàng ngày, mang lại năng suất và thuận tiện.</p>
									<ul class="actions special">
										<li><a href="#" class="button">Đọc thêm</a></li>
									</ul>
								</article>
								<article>
									<header>
										<span class="date">tháng 11, 2023</span>
										<h2><a href="#">Làm việc tại<br />
										nhà</a></h2>
									</header>
									<a href="#" class="image fit"><img src="assets/images/pic03.jpg" alt="" /></a>
									<p>Công nghệ phát triển, hình thưc làm việc tại nhà(work from home) ngày càng được giới trẻ ưa chuộng.</p>
									<ul class="actions special">
										<li><a href="#" class="button">Đọc thêm</a></li>
									</ul>
								</article>
								<article>
									<header>
										<span class="date">Tháng 11, 2023</span>
										<h2><a href="#">Công nghệ<br />
										của tương lai</a></h2>
									</header>
									<a href="#" class="image fit"><img src="assets/images/pic04.jpg" alt="" /></a>
									<p> trí tuệ nhân tạo sẽ tạo nên cuộc sống thông minh hơn và mạng lưới ảo thực sẽ mở ra những trải nghiệm độc đáo, hứa hẹn một thế giới kỳ diệu và kết nối.</p>
									<ul class="actions special">
										<li><a href="#" class="button">Đọc thêm</a></li>
									</ul>
								</article>
								<article>
									<header>
										<span class="date">Tháng 11, 2023</span>
										<h2><a href="#">Nghiên cứu gần đây<br />
										</a></h2>
									</header>
									<a href="#" class="image fit"><img src="assets/images/pic05.jpg" alt="" /></a>
									<p>Những nhà khoa học gần đây đang tập trung vào phát triển Generative AI, công nghệ này hứa hẹn nhiều hiệu quả về kinh tế trong tương lai.</p>
									<ul class="actions special">
										<li><a href="#" class="button">Đọc thêm</a></li>
									</ul>
								</article>
								<article>
									<header>
										<span class="date">Tháng 11, 2023</span>
										<h2><a href="#">Kỉ nguyên số<br />
										</a></h2>
									</header>
									<a href="#" class="image fit"><img src="assets/images/pic06.jpg" alt="" /></a>
									<p>Kế thừa những thành tựu từ những năm trước, nước ta đang dần nghiên cứu và phát triển, mục tiêu tới 2023 sẽ là một trong những trung tâm AI lớn khu vực Asean</p>
									<ul class="actions special">
										<li><a href="#" class="button">Đọc thêm</a></li>
									</ul>
								</article>
								<article>
									<header>
										<span class="date">Tháng 11, 2023</span>
										<h2><a href="#">Asus<br />
										ra mắt thiết bị AI mới</a></h2>
									</header>
									<a href="#" class="image fit"><img src="assets/images/pic07.jpg" alt="" /></a>
									<p>Hãng máy tính Asus vừa tung ra sản phẩm AI tích hợp trên thiết bị của họ cho phép người dùng điều khiển máy tính bằng trợ lí ảo.</p>
									<ul class="actions special">
										<li><a href="#" class="button">Đọc thêm</a></li>
									</ul>
								</article>
							</section>

						<!-- Footer -->
							<footer>
								<div class="pagination">
									<!--<a href="#" class="previous">Prev</a>-->
									<a href="#" class="page active">1</a>
									<a href="#" class="page">2</a>
									<a href="#" class="page">3</a>
									<span class="extra">&hellip;</span>
									<a href="#" class="page">8</a>
									<a href="#" class="page">9</a>
									<a href="#" class="page">10</a>
									<a href="#" class="next">Next</a>
								</div>
							</footer>

					</div>

				<!-- Footer -->
					<footer id="footer">
						<section>
							<form method="post" action="#">
								<div class="fields">
									<div class="field">
										<label for="name">Name</label>
										<input type="text" name="name" id="name" />
									</div>
									<div class="field">
										<label for="email">Email</label>
										<input type="text" name="email" id="email" />
									</div>
									<div class="field">
										<label for="message">Message</label>
										<textarea name="message" id="message" rows="3"></textarea>
									</div>
								</div>
								<ul class="actions">
									<li><input type="submit" value="Send Message" /></li>
								</ul>
							</form>
						</section>
						<section class="split contact">
							<section class="alt">
								<h3>Address</h3>
								<p>1234 Somewhere Road #87257<br />
								Nashville, TN 00000-0000</p>
							</section>
							<section>
								<h3>Phone</h3>
								<p><a href="#">(000) 000-0000</a></p>
							</section>
							<section>
								<h3>Email</h3>
								<p><a href="#">info@untitled.tld</a></p>
							</section>
							<section>
								<h3>Social</h3>
								<ul class="icons alt">
									<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
								</ul>
							</section>
						</section>
					</footer>

				<!-- Copyright -->
					<div id="copyright">
						<ul><li>&copy; Untitled</li><li>Design by Hiepdaoq</a></li></ul>
					</div>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>