
<!DOCTYPE html>
<html>
<head>
    <meta charset ="utf-8">
    <meta name = 'viewport' content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="assets/css/login.css">
    <!-- Thay "ten-file-css.css" bằng đường dẫn đến tệp CSS của bạn -->

    <!-- Đây là ví dụ về cách liên kết thư viện jQuery nếu bạn cần -->
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
</head>
<body id="particles-js">
<!-- ... Nội dung HTML của bạn ... -->
<body id="particles-js"></body>
<!-- <nav class="navbar navbar-expand-lg"> -->
<div class="animated bounceInDown">
  <div class="container">
    <span class="error animated tada" id="msg"></span>
    <!-- <form name="form1" class="box" onsubmit="return checkStuff()" method="POST" action="/login">
      <h4>Admin<span>Dashboard</span></h4>
      <h5>Sign in to your account.</h5>
        <input type="text" name="email" placeholder="Email" autocomplete="off">
        <i class="typcn typcn-eye" id="eye"></i>
        <input type="password" name="password" placeholder="Passsword" id="pwd" autocomplete="off">
        <label>
          <input type="checkbox">
          <span></span>
          <small class="rmb">Remember me</small>
        </label>
        <a href="#" class="forgetpass">Forget Password?</a>
        <input type="submit" value="Sign in" class="btn1">
      </form> -->
      <form name="form1" class="box" method="POST" action="/login">
        <h4>Alex<span></span></h4>
        <h5>Đăng nhập bằng tài khoản của bạn.</h5>
        <input type="text" name="email" placeholder="Email" autocomplete="off">
        <i class="typcn typcn-eye" id="eye"></i>
        <input type="password" name="password" placeholder="Password" id="pwd" autocomplete="off">
        <label>
            <input type="checkbox">
            <span></span>
            <small class="rmb">Nhớ mật khẩu</small>
        </label>
        <a href="#" class="forgetpass">Quên mật khẩu?</a>
        <input type="submit" value="Đăng nhập" class="btn1">
    </form>
        <a href="/signup" class="dnthave">Bạn không có tài khoản? Đăng kí</a>
  </div> 
       <div class="footer">
      <span>Made with <i class="fa fa-heart pulse"></i> <a href="https://www.google.de/maps/place/Augsburger+Puppenkiste/@48.360357,10.903245,17z/data=!3m1!4b1!4m2!3m1!1s0x479e98006610a511:0x73ac6b9f80c4048f"><a href="https://codepen.io/lordgamer2354">By hiepdaoquang</a></span>
    </div>
</div>

<script src="assets/js/login.js"></script>
</body>
</html>